body {
  background: #f8f9fa;
}

.card {
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.card-img-top {
  height: 220px;
  object-fit: contain;
}

.card-title {
  min-height: 60px;
}